/*! 
 Build based on gin-vue-admin 
 Time : 1691996246000 */
.button-box[data-v-881ef95f]{padding:10px 20px}.button-box .el-button[data-v-881ef95f]{float:right}.warning[data-v-881ef95f]{color:#dc143c}
