/*! 
 Build based on gin-vue-admin 
 Time : 1691853746000 */
.plug-form[data-v-a6df940b]{width:680px}.plug-row[data-v-a6df940b]{display:flex;align-items:center;width:100%}.plug-row+.plug-row[data-v-a6df940b]{margin-top:12px}.plug-row>span[data-v-a6df940b]{margin-left:8px}
