/*! 
 Build based on gin-vue-admin 
 Time : 1692158479000 */
.image-uploader[data-v-9f59623f]{border:1px dashed #d9d9d9;width:180px;border-radius:6px;cursor:pointer;position:relative;overflow:hidden}.image-uploader[data-v-9f59623f]{border-color:#409eff}.image-uploader-icon[data-v-9f59623f]{font-size:28px;color:#8c939d;width:178px;height:178px;line-height:178px;text-align:center}.image[data-v-9f59623f]{width:178px;height:178px;display:block}
