/*! 
 Build based on gin-vue-admin 
 Time : 1691853746000 */
.warning[data-v-aa6e8bd8]{color:#dc143c}.icon-column[data-v-aa6e8bd8]{display:flex;align-items:center}.icon-column .el-icon[data-v-aa6e8bd8]{margin-right:8px}
