/*! 
 Build based on gin-vue-admin 
 Time : 1691853746000 */
.sticky-button[data-v-541a467f]{position:sticky;top:2px;z-index:2;background-color:#fff}.fitler[data-v-541a467f]{width:60%}.custom-tree-node span+span[data-v-541a467f]{margin-left:12px}
