/*! 
 Build based on gin-vue-admin 
 Time : 1689330001000 */
.warning-bar[data-v-a7c6b110]{background-color:#fff5ed;font-size:14px;padding:6px 14px;display:flex;align-items:center;border-radius:2px;margin-bottom:12px}.warning-bar .el-icon[data-v-a7c6b110]{font-size:18px;color:#ed6a0c}.warning-bar span[data-v-a7c6b110]{line-height:22px;color:#f67207;margin-left:8px}.can-click[data-v-a7c6b110]{cursor:pointer}
