/*! 
 Build based on gin-vue-admin 
 Time : 1691996246000 */
.authority .el-input-number{margin-left:15px}.authority .el-input-number span{display:none}.tree-content{margin-top:10px;height:calc(100vh - 148px);overflow:auto}
