/*! 
 Build based on gin-vue-admin 
 Time : 1689330001000 */
.plug-form[data-v-6641fd51]{width:680px}.plug-row[data-v-6641fd51]{display:flex;align-items:center;width:100%}.plug-row+.plug-row[data-v-6641fd51]{margin-top:12px}.plug-row>span[data-v-6641fd51]{margin-left:8px}
