/*! 
 Build based on gin-vue-admin 
 Time : 1691228829000 */
.dashboard-line-box .dashboard-line[data-v-f55864a1]{background-color:#fff;height:360px;width:100%}.dashboard-line-box .dashboard-line-title[data-v-f55864a1]{font-weight:600;margin-bottom:12px}
