/*! 
 Build based on gin-vue-admin 
 Time : 1689330001000 */
.button-box[data-v-1a433cdb]{padding:10px 20px}.button-box .el-button[data-v-1a433cdb]{float:right}.warning[data-v-1a433cdb]{color:#dc143c}
