/*! 
 Build based on gin-vue-admin 
 Time : 1689330001000 */
.sticky-button[data-v-d1e06e89]{position:sticky;top:2px;z-index:2;background-color:#fff}.fitler[data-v-d1e06e89]{width:60%}.custom-tree-node span+span[data-v-d1e06e89]{margin-left:12px}
